.container_index {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 100%;
}

.btn_articulos {
  justify-items: right;
  margin-right: 5px;
  margin-top: 45%;
}
.btn_historias {
  justify-items: left;
  margin-left: 5px;
  margin-top: 15%;
}
.btn_ar {
}
