@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Rasa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radley:ital@1&display=swap");
.container_index {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

	flex-wrap: wrap;
	flex-direction: row;
	min-width: 100%;
}

.btn_articulos {
	justify-items: right;
	margin-right: 5px;
	margin-top: 45%;
}
.btn_historias {
	justify-items: left;
	margin-left: 5px;
	margin-top: 15%;
}

.titulo {
	font-family: "Orbitron", sans-serif;
	font-family: "Rasa", serif;
	font-size: 4vw;
}
.o-subtitulo {
	font-family: "Radley", serif;
}
#background-video {
	position: fixed;
}

.o-articule-img {
	width: 5rem;
	height: 5rem;
}
@media only screen and (max-width: 1000px) {
	.titulo {
		font-family: "Orbitron", sans-serif;
		font-family: "Rasa", serif;
		font-size: 3rem;
	}
	.o-subtitulo {
		font-size: 2rem;
	}
}
