.car_v {
  background: transparent;
}
.img_ani {
  /*
  margin-top: 15rem;
  margin-bottom: 2rem;
  padding-top: 15rem;*/
}
.figcaption {
  width: 130px;
  max-height: 200px;
  overflow-y: auto;
  visibility: hidden;
  border: 3px solid black;
  transition: all 0.5s;
  position: absolute;
  display: block;
}
/* Visible texto */
.btn_v:hover > .figcaption {
  z-index: 2;
  visibility: visible;
  transition: all 0.5s;
}
.o-btn-close {
  background: none;
  border: 0;
  padding: 0;
  color: white;
}
.o-btn-close:hover {
  color: #292b2c;
}
.video {
  width: 90rem;
}
